<%if @response==true %>
<%session[:response]=false%>
<script type="text/javascript">
noty({
  text: '',
  type: 'success',
  layout: "top",
  template: '<div><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Thanks for responding!</div><div>I will get back to you as soon as I can</div>',
  animation: {
        open: 'animated bounceInDown', // Animate.css class names
        close: 'animated bounceOutUp' // Animate.css class names
    }
}
);

</script>
<%end%>
<%if @response=="empty" %>
<%session[:response]=false%>
<script type="text/javascript">
console.log("inside fail callback");
noty({
  text: 'Oops! you did not write anything!',
  type: 'error',
  animation: {
        open: 'animated bounceInRight', // Animate.css class names
        close: 'animated bounceOutRight' // Animate.css class names
    }
  }
);

</script>
<%end%>
<section class="contact_us">
  <div class="container">
    <div class="row">
      <div class="col m12 s12 l8">
        <h5>  Get In Touch</h5>
        <%=form_tag("/home/contact_us/post", method: :POST) do%>
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <%=label_tag :name,"Name"%>
            <%= text_field_tag :name,nil,class: "validate", id: "icon_prefix"%>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">email</i>
            <%= text_field_tag :email,nil,class: "validate", id: "icon_prefix"%>
            <%=label_tag :email,"email"%>

          </div>
          <div class="input-field col s12">
            <%= text_field_tag :subject,nil, id: "icon_prefix"%>
            <%=label_tag :subject,"subject"%>
          </div>

          <div class="input-field col s12">
            <%=label_tag :content,nil%>
            <%= text_area_tag :content,nil, id: "textarea1",class: "materialize-textarea"%>

          </div>
          <%=button_tag(type: "submit", class: "btn waves-effect waves-light") do%>
          Send Message <i class="material-icons right">send</i>
          <%end%>


        <%end%>


      </div>

      <div class="col m12 s12 l4">
        <div class="card-panel teal">
          <span class="white-text">
            <b>Contact Information</b>
            <hr />
            <i class="fa fa-user-circle" aria-hidden="true"></i> <b> Dr. Ashish Khanna</b><br>
            <i class="fa fa-phone" aria-hidden="true"></i> <span><b> 9891296774 </b></span><br>
            <b>Convener</b>
            <hr>
            <i class="fa fa-user-circle" aria-hidden="true"></i> <b> Deepak Gupta</b><br>
            <i class="fa fa-phone" aria-hidden="true"></i> <span><b> 9899265660 </b></span><br>
            <b>Convener</b>
            <hr>
            <i class="fa fa-user-circle" aria-hidden="true"></i> <b> Dr. Bibhu Prasad Mohanty</b><br>
            <i class="fa fa-phone" aria-hidden="true"></i> <span><b> 8895995279 </b></span><br>
            <b>Convener</b>
            <hr>
            <i class="fa fa-envelope" aria-hidden="true"></i><b> icicc.conf@gmail.com</b>





       </span>
     </div>
      </div>
    </div>
  </div>
</section>
