<section class="home-page">
    <div class="carousel-section-home-page">
    <img width="100%" src="/carousel/icdam.jpeg"/>
    <div>
      <%= render "customcarousel" %> 
    </div>
  </div>

  <div class="row about-conference">
    <div class="col-md-8">

      <div >
        <div class="left">
          <br>
         <!--  <form action="/icicc2019.pdf">
              <input type="submit" value="Proceeding of ICICC-2019" />
          </form>
          <br>
          <form action="/E-ProceedingofICICC-2018.pdf">
              <input type="submit" value="Proceeding of ICICC-2018" />
          </form> -->


          <br><br>
          <h1 class="custom-font">About Conference</h1><hr>
          <div>
            <p>
              International Conference on Data Analytics and Management (ICDAM-2020) is organised
              with the objective of bringing together innovative scientists, professors, research
              scholars, students and industrial experts in the field of Computing and Communication to
              a common forum. The primary goal of the conference is to promote the exchange of
              innovative scientific information between researchers, developers, engineers, students,
              and practitioners. Another goal is to promote the transformation of fundamental research
              into institutional and industrialized research and to convert applied exploration into real
              time application. Overall the conference will provide the researchers and attendees with
              prospects for national and international collaboration and networking among universities
              and institutions from India and abroad for promoting research. ICDAM- 2020 will be
              Organized Jointly by Jan Wyzykowski University, Polkowise, Poland and B.M. Institute of
              Engineering and Technology, Haryana, India on 18-19 June 2020. All the accepted
              papers (after double blinded peer review) will be published in <b>Springer Lecture Notes
              on Data Engineering and Communications Technologies</b> <b class="text-muted">(Indexing: The books of this
              series are submitted to SCOPUS, ISI Proceedings, MetaPress, Springerlink and DBLP)</b> and
              extended selected papers will be published in the special issues of
              SCI/SCOPUS/WoS/DBLP/ACM indexed Journals.
            </p>
          </div>  
          <h5 class="text-danger"><b>All accepted papers will be published in Scopus Indexed Springer Series
            (Proposed)</b></h5>
          <br>
          <h5 class="text-danger"><b> Selected and Extended papers will be considered for Publication in the Special Issues of Following Journals: </b></h5>
          <h5 class="text-danger"><b>1. Transactions on Emerging Telecommunications Technologies (ETT), Wiley [SCIIndexed IF 1.25] </b></h5>
          <h5 class="text-danger"><b>2. Sensors — Open Access Journal [SCI Indexed IF 3.0] </b></h5>
          <h5 class="text-danger"><b>3. SN Applied Science, Springer [ESCI Indexed]</b></h5>
          <h5 class="text-danger"><b>4. IEEE Internet of Things Magazine</b></h5>
          <h5 class="text-danger"><b>5. International Journal of Computer Applications in Technology, Inderscience [Scopus, ESCI]</b></h5>
          Paper Submission Link : <a href="https://easychair.org/conferences/?conf=icdam2020" target="_blank">Easy Chair Submission Portal</a>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <h1 class="custom-font"> Downloads</h1>
        <hr>
        <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
          <%@downloads.each do |download|%>
          <%=link_to url_for(controller: "home", action: "download", filename: download.download_file) do %>
          <%=download.file_name.titleize%> <i class="fa fa-download" aria-hidden="true"></i>
          <%end%>
          <br> <hr>
          <%end%>
        </marquee>
        <span> <a href="/downloads_page">See More...</a> </span>
      </div>

    </div>
  </div>
  <br>
  <div class="row imp-dates-notice">
    <div class="col-md-6">
      <div class="box">
        <h1 class="custom-font">Important Dates</h1>
        <hr>
        <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
          <% @important_dates.each do |impdate| %>
          <b><%= impdate.title %></b>
          <br>
          <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
          <br><hr />
          <% end %>
        </marquee>
        <span> <a href="/important_dates">Read More...</a> </span>
      </div>
    </div>


    <div class="col-md-6">
      <div class="box">
        <h1 class="custom-font">Notices</h1>
        <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
          <%@newsupdate.each do |news|%>
          <b><%=news.news%></b> <br><br>
          <hr>
          <%end%>
        </marquee>
      </div>
    </div>

  </div>

  <br>

  <div class="row proceeding-partners">

    <br><br>

    <%= render "proceeding_partners"%>

  </div>

   <div class="row publish-partner">

    <br><br>

    <%= render "publish_partner"%>


  </div>

<!---
  <div class="row key-note">


    <%= render "key_note"%>

  </div>

  
  <div class="row sponsored-by">

    <br><br>

    <%= render "supported_by"%>


  </div>

  <div class="row publish-partner">

    <br><br>

    <%= render "our_sponsors"%>


  </div>
  --->

  <!-- <div class="row" id="sponsors-and-papers">
  <div class="col-md-6">
  <h2>Sponsors</h2>

  <% @sponsors.each do |sponsor| %>
  <div class="col-md-4">
  <img src="<%="/sponsors/" + sponsor.image%>">
  <span class="card-title activator grey-text text-darken-1"><%= sponsor.caption.titleize %></span>
</div>
<%end%>

</div>
<div class="col-md-6">
<h2>Paper Submission</h2>

<% @papersubmission.each do |papersubmission| %>

<a href="https://easychair.org/conferences/?conf=icicc2018"><img src="<%="/PaperSubmission/" + papersubmission.url%>" ></a>

<% end %>

</div>
</div> -->
</section>