<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Project</title>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css'>


</head>

<style type="text/css">
html,body{

}
div.container div.row div.l4 div.card-panel{
  height: 300px
}

div.container div.row div.l4 marquee{
  height: 200px;
}
div.card-panel{
  background-color: #74b5eb;
}
.container {
  margin: 0 auto;
  max-width: 1390px;
  width: 90%;
}
#carousel {
  position: relative;
  height: 500px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  background-color: #74b5eb;
}
#carousel h3{
  margin-left: 685px;
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  width: 400px;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.prev img {
  width: 300px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
  width: 300px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 200px;
}
.sponsor h4{
  margin-left: 450px;

}
</style>
<body>
  <div class="parallax-container" style="z-index: -10;">
    <div class="parallax">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/09/73/3c/09733cf4fd9280abb95c448d05dd07b6.jpg"></div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col m12 s12 l3" >
          <div class="card-panel  hoverable "style="height:300px">
            <span class="white-text">
              <h5>News Update</h5><hr>
              <marquee style="height:200px" direction="up" onmouseover="this.stop();" onmouseout="this.start();">

              <% @newsupdate.each do |newsupdate| %>
              <b><%= newsupdate.news %></b>
              <br>

              <% end %>
            </marquee>
            </span>
          </div>
        </div>

        <div class="col m12 s12 l5">
          <div class="card-panel  hoverable" style="overflow:hidden; height:650px">
            <span class="white-text">
              <h4 >About Conference</h4>
              <hr>
              <%= @aboutconference %>
            </span>
          </div>
        </div>
        <div class="col m12 s12 l4">
          <div class="card-panel  hoverable" style=" height:300px">
            <span class="white-text">
              <h5>Important Dates</h5><hr>
<marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();">
              <% @important_dates.each do |impdate| %>
              <b><%= impdate.title %></b>
              <br>
              <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
              <br><hr />

              <% end %>
              </marquee>
            </span>
          </div>
        </div>




      </div>
      <div class="row sponsors card-panel hoverable" style="  background-color: #74b5eb">
        <div class="col m12 l12 s12">
          <h4 style="margin-left:460px;">SPONSORS</h4>
        </div>
        <% @sponsors.each do |sponsor| %>
        <!-- <div class="col s12 m12 l12"> -->
        <%= render 'sponsor' , sponsor: sponsor %>
        <!-- </div> -->
        <% end %>
      </div>

      <div class="row">

        <div class="col m12 s12 l6">
          <div class="card-panel hoverable" style="height: 480px; width:450px;">
            <span class="white-text">
              <h5>Paper Submission</h5><hr>
              <% @papersubmission.each do |papersubmission| %>
              <div class="card" style="background:none">
                <div class="card-image">
                  <img src="<%="/PaperSubmission/" + papersubmission.url%>" class="responsive-img activator"  >
                </div>
                <br><br><br>
                <div class="card-image">
                  <img src="<%="/PaperSubmission/" + papersubmission.url%>" class="responsive-img activator" >
                </div>
              </div>
              <% end %>
            </span>
          </div>

        </div>

        <div class="col m12 s12 l6">
          <div class="card-panel  hoverable"  style="height: 480px; width:550px;">
            <span class="white-text">
              <h5>Tourism Selection</h5><hr>
              <div class="card"5
                <div class="card-image">
                  <img src="/akshardham.jpg" class="responsive-img activator">
                </div>

              </div>

            </span>
          </div>

        </div>
      </div>



      <div class="row">



        <div class="col m12 s12 l4">

          <div class="card-panel  hoverable">
            <span class="white-text">
              <h5>Publishing Partner</h5><hr>
              <div class="row">

              <% @publishpartners.each do |publishpartner| %>
                    <div class="col m3 s3 l6">
                      <img src="<%="/PublishPartner/" + publishpartner.image%>" style="width:150px;">
                      <span><a href="<%= publishpartner.url %>"><%= publishpartner.content %></a></span>
                    </div>


              <% end %>
            </div>

            </span>
          </div>
        </div>
        <div class="col m12 s12 l4">
          <div class="card-panel  hoverable">
            <span class="white-text">
              <h5>Recent Visitors</h5><hr>
              <div class="card">
                <div class="card-image">
                  <img src="/map1.png" class="responsive-img activator">
                </div>
              </div>

            </span>
          </div>
        </div>
        <div class="col m12 s12 l4">

          <div class="card-panel  hoverable">
            <span class="white-text">
              <h5>KeyNote Speaker</h5><hr>
              <div class="row">
                <% @keynotespeaker.each do |keynotespeaker| %>
                    <div class="col s3 m3 l6">
                      <img src="<%="/keynotespeaker/" + keynotespeaker.image%>"  style="width:150px;">

                      <span><a href="<%= keynotespeaker.url %>"><%= keynotespeaker.caption %></a></span>
                    </div>



                <% end %>
              </div>

            </span>
          </div>




        </div>

      </div>


     </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <main>

    <div class="card-panel hoverable" id="carousel">

      <h3 style="margin-left: 460px;">Photo Gallery</h3>
       <div class="hideLeft">
        <img src="http://icicc-conf.com/img/ginm2.jpg">
      </div>

      <div class="prevLeftSecond">
        <img src="http://icicc-conf.com/img/ginm2.jpg">
      </div>

      <div class="prev">
        <img src="http://icicc-conf.com/img/ginm2.jpg">
      </div>

      <div class="selected">
        <img src="http://icicc-conf.com/img/ginm2.jpg">
      </div>

      <div class="next">
        <img src="http://icicc-conf.com/img/ginm2.jpg">
      </div>

      <div class="nextRightSecond">
        <img src="
http://icicc-conf.com/img/ginm2.jpg">
      </div>

      <div class="hideRight">
        <img src="http://icicc-conf.com/img/ginm2.jpg">
      </div>

    </div>



  </main>






  </body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js'></script>
  <script type="text/javascript">
  $(document).ready(function () {
    $('.parallax').parallax();
  });
function moveToSelected(element) {

  if (element == "next") {
    var selected = $(".selected").next();
  } else if (element == "prev") {
    var selected = $(".selected").prev();
  } else {
    var selected = element;
  }

  var next = $(selected).next();
  var prev = $(selected).prev();
  var prevSecond = $(prev).prev();
  var nextSecond = $(next).next();

  $(selected).removeClass().addClass("selected");

  $(prev).removeClass().addClass("prev");
  $(next).removeClass().addClass("next");

  $(nextSecond).removeClass().addClass("nextRightSecond");
  $(prevSecond).removeClass().addClass("prevLeftSecond");

  $(nextSecond).nextAll().removeClass().addClass('hideRight');
  $(prevSecond).prevAll().removeClass().addClass('hideLeft');

}

// Eventos teclado
$(document).keydown(function(e) {
    switch(e.which) {
        case 37: // left
        moveToSelected('prev');
        break;

        case 39: // right
        moveToSelected('next');
        break;

        default: return;
    }
    e.preventDefault();
});

$('#carousel div').click(function() {
  moveToSelected($(this));
});

$('#prev').click(function() {
  moveToSelected('prev');
});

$('#next').click(function() {
  moveToSelected('next');
});

  </script>
