<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Project</title>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css'>


</head>
<body>
  <div class="parallax-container" style="z-index: -10;">
    <div class="parallax">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/09/73/3c/09733cf4fd9280abb95c448d05dd07b6.jpg"></div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col m12 s12 l3">
          <div class="card-panel teal">
            <span class="white-text">

              <% @newsupdate.each do |newsupdate| %>
              <b><%= newsupdate.news %></b>
              <br>

              <% end %>
            </span>
          </div>
        </div>

        <div class="col m12 s12 l5">
          <div class="card-panel teal">
            <span class="white-text">
              <h4 >About Conference</h4>
              <hr>
              <%= @aboutconference %>
            </span>
          </div>
        </div>
        <div class="col m12 s12 l4">
          <div class="card-panel teal">
            <span class="white-text">

              <% @important_dates.each do |impdate| %>
              <b><%= impdate.title %></b>
              <br>
              <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
              <br><hr />

              <% end %>
            </span>
          </div>
        </div>




      </div>

      <div class="row">

        <div class="col m12 s12 l3">
        </div>

        <div class="col m12 s12 l5">

        </div>
        <div class="col m12 s12 l4">
        </div>

      </div>


      <div class="row">

        <div class="col m12 s12 l12">
          <div class="carousel">
            <% @photogallery.each do |photo| %>
            <a class="carousel-item" ><img src="<%="/gallery/" + photo.url%>"></a>
            <% end %>

          </div>

        </div>

      </div>


    </div>



  </body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js'></script>
  <script type="text/javascript">
  $(document).ready(function () {
    $('.parallax').parallax();
  });


  </script>
