<section class="home-page">
  <div class="carousel-section-home-page">

    <img src="/img3.jpg" style="visibility:hidden;" />
    <div>
      <%= render "customcarousel"%>
    </div>

  </div>







  <div class="row about-conference">
    <div class="col-md-8">

      <div >
        <div class="left">
          <h1 class="custom-font">About Conference</h1><hr>
          <p><%= @aboutconference %></p>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <h1 class="custom-font"> Downloads</h1>
        <hr>
        <marquee behavior="" direction="up">
          <%@downloads.each do |download|%>
          <%=link_to url_for(controller: "home", action: "download", filename: download.download_file) do %>
          <%=download.file_name.titleize%> <i class="fa fa-download" aria-hidden="true"></i>
          <%end%>
          <br> <hr>
          <%end%>
        </marquee>
        <span> <a href="/downloads_page">See More...</a> </span>
      </div>

    </div>
  </div>
  <br>
  <div class="row imp-dates-notice">
    <div class="col-md-6">
      <div class="box">
        <h1 class="custom-font">Important Dates</h1>
        <hr>
        <marquee behavior="" direction="up">
          <% @important_dates.each do |impdate| %>
          <b><%= impdate.title %></b>
          <br>
          <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
          <br><hr />
          <% end %>
        </marquee>
        <span> <a href="/important_dates">Read More...</a> </span>
      </div>
    </div>


    <div class="col-md-6">
      <div class="box">
        <h1 class="custom-font">Notices</h1>
        <marquee behavior="" direction="up">
          <%@newsupdate.each do |news|%>
          <b><%=news.news%></b> <br><br>
          <hr>
          <%end%>
        </marquee>



      </div>
    </div>

  </div>


  <div class="row key-note">

    <div class="col-md-6 left">
      <h1>Key Note<br>Speakers</h1>
    </div>
    <div class="col-md-6 right">


      <div class="slick-keynote">
        <% @keynotespeaker.each do |keynotespeaker| %>
        <div>
          <div class="images-key-note">  <img src="<%="/keynotespeaker/" + keynotespeaker.image%>" ></div>
          <div class="link-key-note"> <a href="<%= keynotespeaker.url %>"><%= keynotespeaker.caption %></a></div>
        </div>
        <% end %>



      </div>

      <script type="text/javascript" src="slick/slick.min.js"></script>


      <script type="text/javascript">
      $(document).ready(function(){
        $('.slick-keynote').slick({
          autoplay: true,
          autoplaySpeed: 2500
        });
      });
      </script>

    </div>

  </div>
  <div class="row publish-partner">

  </div>
  <div class="row publish-partner">



    <div class=" col-sm-12 col-md-6 col-md-push-6 right">
      <h1>Publishing<br>Partner</h1>
    </div>

    <div class=" col-sm-12 col-md-6 col-md-pull-6 left">
      <div class="slick-publishing">


        <% @publishpartners.each do |publishpartner| %>
        <div>
          <div class="images-key-note"><img src="<%="/PublishPartner/" + publishpartner.image%>"></div>
          <div class="link-key-note"><a href="<%= publishpartner.url %>"><%= publishpartner.content %></a></div>
        </div>
        <% end %>

        </div>
        <script type="text/javascript" src="slick/slick.min.js"></script>

        <script type="text/javascript">
        $(document).ready(function(){
          $('.slick-publishing').slick({
            autoplay: true,
            autoplaySpeed: 2500
          });
        });
        </script>
      </div>

    </div>
    <div class="row" id="sponsors-and-papers">
      <div class="col-md-6">
        <h2>Sponsors</h2>

        <% @sponsors.each do |sponsor| %>
            <div class="col-md-4">
              <img src="<%="/sponsors/" + sponsor.image%>">
              <span class="card-title activator grey-text text-darken-1"><%= sponsor.caption.titleize %></span>
            </div>
        <%end%>

      </div>
      <div class="col-md-6">
        <h2>Paper Submission</h2>

        <% @papersubmission.each do |papersubmission| %>

        <a href="https://easychair.org/conferences/?conf=icicc2018"><img src="<%="/PaperSubmission/" + papersubmission.url%>" ></a>
        
        <% end %>

      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <%= render "gallery"%>
      </div>
    </div>


  </section>
