<section class="sub-page" id="publication">
  <div class="row">
    <div class="col-md-8">
      <div class="left">
        <p>
          All Accepted Paper are published by <a href="https://www.springer.com/series/11156">Springer</a> and selected extended papers of the conference will be
          invited to submit for publication in the special issues of the following journals:
        </p>

      <h3>Publications</h3>
      <% @publication.each do |publish| %>
      <div class="col-md-12">
        <div class="card">
          <b><%= publish.title %></b> <br>
          <a href="<%= publish.weblink %>"><%= truncate publish.weblink %></a> <br>
          <%= publish.description %>
        </div>
      </div>
        <% end %>




      </div>
    </div>
    <div class="col-md-4">
      <div class="box right">
          <h1 class="custom-font">Important Dates</h1>
          <hr>

          <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
              <% @important_dates.each do |impdate| %>
                  <b><%= impdate.title %></b>
                  <br>
                  <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
                  <br><hr />

              <% end %>


            </marquee>
            <span> <a href="/important_dates">Read More...</a> </span>

      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-8">
<hr>

<p>
<h4>Tentative list of SCI/ SCOPUS INDEXED JOURNALS are as follows (confirmation only after approval) :</h4>
1. Future Generation Computer Systems (Elsevier) - SCIE Indexed <br>
2. Sensors (MDPI) - SCIE Indexed <br>
3. IEEE Access - SCIE Indexed <br>
4. International Journal of Applied Metaheuristic Computing (IGI Global) - ESCI, SCOPUS Indexed <br>
5. International Journal of Reasoning-based Intelligent Systems (Inderscience) - SCOPUS, EI Indexed <br>


</p>
  </div>
</div>

</div>

</section>
