<section class="publication">
   <div class="container">
     <div class="row">
       <div class="col m12 s12 l8">


              <div class="card-panel teal">
                <span class="white-text">

                  <h5>Publication</h5><hr>

                   <% @publication.each do |publish| %>
                   <b><%= publish.title %></b>
                   <br>
                      <%= publish.weblink %>
                   <br>
                   <%= publish.description %>
                   <br>
                   <br />
               <% end %>
             </span>
           </div>


       </div>
       <div class="col m12 s12 l4">
         <div class="card-panel teal">
           <span class="white-text">
             <b>Important Dates</b>
             <hr />
          <% @important_dates.each do |impdate| %>
              <b><%= impdate.title %></b>
              <br>
              <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
              <br><hr />

          <% end %>
        </span>
      </div>
      </div>
  </div>


</div>
</section>
